<section class="menu-wrapper" ng-show="ctrl.isVisible" ng-class="{show: ctrl.isVisible}">
  <div ng-show="ctrl.showMenu">
    <div class="blue-line">
      <a href="#" ng-click="ctrl.onclick()" class="subtitle">HOME</a>
    </div>
    <div class="blue-line">
      <a href="#" ng-click="ctrl.onclick()" class="subtitle">SERVICES</a>
    </div>
    <div class="blue-line">
      <a href="#" ng-click="ctrl.onclick()" class="subtitle">CULTURE &amp; ORGANIZATION</a>
    </div>
    <div>
      <a href="#" ng-click="ctrl.onclick()" class="subtitle">CONTACT</a>
    </div>
  </div>
</section>
