.city {
  @media #{$screen-md} {
    background-image: url("./resources/img/1080/home/imagen1.svg");
    padding-top: 56.25%;
  }
  color: $light-bg;
  display: flex;
  flex-direction: column;

  .text-wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    height: 25em;
    align-items: center;

    p {
      font-size: 3vw;
      max-width: 60%;
    }
  }

  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: -50%;
    padding: 0 3em;
  }

  .home-logo {
    @media #{$screen-md} {
      background-image: url("./resources/img/1080/home/logo.svg");
      padding-top: 3%;
    }
  }

  .home-menu {
    @media #{$screen-md} {
      background-image: url("./resources/img/1080/home/menu-hamburguesa.svg");
      padding-top: 2em;
      max-width: 2em;
    }
  }
}

.cover {
  padding: 4em 15em 6em 15em;
}

.image-container {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
}

.desk {
  @media #{$screen-md} {
    background-image: url("./resources/img/1080/home/imagen2.svg");
    padding-top: 17.82%;
  }
}

.studios {
  height: 40em;

  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-colour-2;
    color: $light-bg;

    p {
      padding: 3em;
    }
  }

  .studio-names {
    width: 100%;
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      justify-content: space-around;
      width: 100%
    }

    a {
      text-decoration: none;
      color: $grey-colour;
      margin: 2em 0;

      div {
        width: 6em;
        height: 6em;
        margin: auto;
        padding-bottom: 0.5em;
      }
      .mobile-studio {
        @media #{$screen-md} {
          background-image: url("");
        }
      }

      .iot-studio {
        @media #{$screen-md} {
          background-image: url("./resources/img/1080/home/studios/logoiot.svg");
        }
      }

      .creative-studio {
        @media #{$screen-md} {
          background-image: url("./resources/img/1080/home/studios/btncreativeA.svg");
        }
      }

      .dev-studio {
        @media #{$screen-md} {
          background-image: url("./resources/img/1080/home/studios/botodev.svg");
        }
      }

      .data-studio {
        @media #{$screen-md} {
          background-image: url("./resources/img/1080/home/studios/btndataA.svg");
        }
      }
    }

    a:hover {
      color: $light-blue;
      -webkit-animation: zoom 0.3s; /* Chrome, Safari, Opera */
      animation: zoom 0.3s;

      .mobile-studio {
        @media #{$screen-md} {
          background-image: url("");
        }
      }

      .iot-studio {
        @media #{$screen-md} {
          background-image: url("./resources/img/1080/home/studios/logoiot-1.svg");
        }
      }

      .creative-studio {
        @media #{$screen-md} {
          background-image: url("./resources/img/1080/home/studios/btncreativeB.svg");
        }
      }

      .dev-studio {
        @media #{$screen-md} {
          background-image: url("./resources/img/1080/home/studios/botodevB.svg");
        }
      }

      .data-studio {
        @media #{$screen-md} {
          background-image: url("./resources/img/1080/home/studios/btndataB.svg");
        }
      }
    }
  }
}

.map {
  @media #{$screen-md} {
    background-image: url("./resources/img/1080/home/mapaadbu.svg");
    padding-top: 26.05%;
  }
}

.products {
  @media #{$screen-md} {
    background-image: url("./resources/img/1080/home/imagendevices.svg");
    padding-top: 37.5%;
  }
}

.work-together {
  @media #{$screen-md} {
    background-image: url("./resources/img/1080/home/imagencontacto.svg");
    padding-top: 36.45%;
  }

  div {
    color: $light-bg;
    width: 70%;
    margin-top: -25%;

    p:first-of-type {
      font-size: 2vw;
    }
  }
}

.join-us {
  color: $light-bg;
  background-color: $bg-colour-1;
  height: 12em;
  display: flex;
  align-items: center;

  div:first-of-type {
    border-right: 1px solid $light-bg;
  }

  div {
    height: 8em;
    width: 50%;
  }
}

.footer {
  color: $light-bg;
  background-color: $bg-colour-1;
  height: 12em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 1.25vw;

  .home-logo {
    @media #{$screen-md} {
      background-image: url("./resources/img/1080/home/logo.svg");
      padding-top: 15%;
      background-position: center;
    }
  }
}

.custom-btn {
  border-radius: 20px;
  height: 3em;
  width: 14em;
  border-style: solid;
  border-width: 1px;
}

.blue-btn {
  background-color: $bg-colour-1;
  border-color: $light-bg;
  color: $light-bg;
}

.white-btn {
  background-color: $light-bg;
  border-color: $bg-colour-1;
  color: $grey-colour;
}

@keyframes zoom {
  0% {
       -webkit-transform: scale(1,1);
   }
   50% {
       -webkit-transform: scale(1.1,1.1);
   }
   100% {
       -webkit-transform: scale(1,1);
   }
}
