$screen-sm-max: 768px;
$screen-md-min: ($screen-sm-max + 1);
$screen-md-max: 1920px;
$screen-xl-min: ($screen-md-min + 1);
$screen-xl: "(min-width:#{$screen-xl-min})" !default;
$screen-md: "(min-width:#{$screen-md-min}) and (max-width:#{$screen-md-max})" !default;
$screen-sm: "(max-width:#{$screen-sm-max})" !default;

$bg-colour-1: #2a6b9c;
$bg-colour-2: #111f2f;
$light-bg: #f8fafb;
$light-blue: #48bfef;
$grey-colour: #a9abad;

@import './app/main/main';

@font-face {
  font-family: latoLight;
  src: url("./resources/fonts/Lato-Light.ttf")
}

@font-face {
  font-family: latoBlack;
  src: url("./resources/fonts/Lato-Black.ttf")
}

@font-face {
  font-family: latoRegular;
  src: url("./resources/fonts/Lato-Regular.ttf")
}

body {
  margin: 0;
  text-align: center;
  font-size: 1.5vw;
  background-color: $light-bg;
  color: $grey-colour;
  font-family: latoLight;
}

button:focus {
  outline:0;
}

.title {
  font-family: latoBlack;
}

.subtitle {
  font-family: latoRegular;
}

.title-blue {
  color: $bg-colour-1;
  font-size: 2vw;
}
